.navbar-default 
{
    .navbar-brand 
    {
        &:hover{
            @if $theme == "dark"
            {
                background-color:  #fff;
                color: #000;
            }
            @else
            {
                background-color:  #000;
                color: #fff;
            }
        }
    }
}